body{
	background-color: #071D38;
/*	color: #D8DBDD;*/
	padding-left: 10vw;
	padding-right: 10vw;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.top{

}

#logo{
	width: 20%;
	height: 100px;
	background-color: yellow;
	display: inline-block;
	vertical-align: middle;
}

.navBar{
	width: 80%;
	height: 100px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
}

.navItems{
	margin: 0;
	list-style-type: none;
	padding: 0;
	width: 70%;
	display: table;
	float: right;
	position: relative;
}

.navItem{
	height: 100px;
	width: 20%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.dropdown:hover{
	background-color: lightblue;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content{
	min-width: 20%;
	text-align: left;
	position: absolute;
	background-color: lightgreen;
	display: none;
  	top: 100px;
}

.dropdown-content a{
	display: block;
}

.dropdown-content a:hover{
	background-color: chocolate;
}

#slideShow{
	width: 75%;
	height: 60vh;
	background-color: lightblue;
	display: inline-block;
	vertical-align: middle;
}

.image{
/*	width: 100%;*/
	max-height: 60vh;
	object-fit:cover;
}

#worshipInfo{
	width: 25%;
	height: 60vh;
	background-color: pink;
	display: inline-block;
	vertical-align: middle;
}

