$primary-color-dark: #071D38;
$primary-color-light: #E7EFF7;
$second-color-light: #818283;
$second-color: #5889AA;

@mixin transition($sec){
    -webkit-transition: $sec; /* Safari 3.1 to 6.0 */
    transition: $sec;
}

body{
	background-color: $primary-color-dark;
    color: $primary-color-light;
	padding-left: 10vw;
	padding-right: 10vw;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: Microsoft JhengHei;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.top{
    #logo{
        width: 20%;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
    }

    .navBar{
        width: 80%;
        height: 100px;
        color: $primary-color-light;
        display: inline-block;
        vertical-align: middle;
    }

    .navItems{
        margin: 0;
        list-style-type: none;
        padding: 0;
        width: 70%;
        display: table;
        float: right;
        position: relative;
    }

    .navItem{
        height: 100px;
        width: 20%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .dropdown:hover{
        background-color: $second-color;

    }

    .dropdown:hover .dropdown-content{
        display: block;
    }

    .dropdown-content{
        min-width: 30%;
        text-align: left;
        position: absolute;
        background-color: $primary-color-light;
        color: $primary-color-dark;
        display: none;
        top: 100px;
    }

    .dropdown-content a{
        display: block;
        padding: 7px;
    }

    .dropdown-content a:hover{
        background-color: $primary-color-dark;
        color: $primary-color-light;
    }
}

.banner{
    #slideShow{
        width: 75%;
        height: 60vh;
        background-color: lightblue;
        display: inline-block;
        vertical-align: middle;
    }

    #slideShow img{
        width: 100%;
        max-height: 60vh;
        object-fit:cover;
        display: none;
    }
    
    #slideShow img .show{
        display: block;
        opacity: 1;
    }

    #worshipInfo{
        width: 25%;
        padding-top: 2%;
        height: 60vh;
        background-color: $primary-color-dark;
        color: $primary-color-light;
        display: inline-block;
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        vertical-align: middle;
    }

}

@mixin panel($background-color, $title-color, $color, $big-font-size, $small-font-size){
    margin: 2.5%;
    background-color: $background-color;
    color: $color;
    .panel-title{
        font-size: $big-font-size;
        text-align: center;
        padding-bottom: 8px;
        border-bottom: 0.5px solid #D8DADB;
        color: $title-color;
    }
    .panel-content{
        margin: 7px;
        font-size: $small-font-size;
        text-align: left;
    }
}

.worship-panel{
    @include panel($primary-color-dark, $primary-color-light, $primary-color-light, 20px, 14px);
    vertical-align: middle;
}

.desc-panel{
    @include panel($primary-color-light, $primary-color-dark, $second-color-light,  20px, 14px);
    display: inline-block;
    vertical-align: top;
    width: 28%;
}

.big-panel{
    @include panel($primary-color-light, $primary-color-dark, $second-color-light,  24px, 14px);
    .panel-title{
        text-align: left;
        font-weight: bold;
    }
}

.content{
    padding: 5%;
    padding-top: 3%;
    background-color: $primary-color-light;
    text-align: center;
    .latest-events{
        img{
            width: 45%;
            margin: 2.5%;
        }
    }
}

.footer{
    background-color: $second-color;
    color: $primary-color-light;
    padding: 5%;
    font-size: 12px;
}